// Colors
$white: #ffff;
$pink: #FF7F9D;
$pink_2: #E78EA3;
$purple: #857CB2;
$deep_blue: #00009A;
$dark_blue: #3E3E6A;
$card_blue: #5DA1C6;
$card_purple: #8179A5;
$card_pink: #CC92A2;
$card_red: #CE6B6B;
$card_yellow: #DADC2B;
$card_orange: #D87430;
$card_green: #4F8F66;
$card_black: #605850;
$card_white: #F3F3F3;

// Fonts
$font_noto_sans: "Noto Sans JP", serif;


// Navigation
nav {
    position: absolute;
    z-index: 3;
    background-color: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    height: 75px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 25px;
    overflow-x: hidden;
    box-sizing: border-box;
    .logo {
        width: 100px;
        display: block;
        img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 1536px) {
    nav {
        height: 50px;
        .logo {
            width: 62px;
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
        height: 50px;
        .logo {
            width: 62px;
        }
    }
}



// PC Background
.pc_background {
    position: relative;
    // Background Img
    .bg_img {
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-image: url('../img/background.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    // LIFECARD Fave Img
    .lc_fave_text_img {
        position: fixed;
        z-index: 3;
        top: 40%;
        left: 5%;
        width: 23vw;
        img {
            max-width: 100%;
        }
    }

    // Card Img
    .card_img {
        position: fixed;
        img {
            max-width: 100%;
        }
    }
    .card_pink {
        width: 5.75vw;
        top: 10%;
        left: 8%;
        transform: rotate(-30deg);
    }
    .card_purple {
        width: 5.5vw;
        top: 24%;
        left: 23%;
        transform: rotate(-15deg);
    }
    .card_black {
        width: 5.75vw;
        top: 67%;
        left: 2%;
        transform: rotate(15deg);
    }
    .card_yellow {
        width: 7vw;
        top: 80.5%;
        left: 16%;
        transform: rotate(-15deg);
    }
    .card_orange {
        width: 6vw;
        top: 10%;
        right: 16%;
        transform: rotate(34deg);
    }
    .card_blue {
        width: 6vw;
        top: 30%;
        right: 8%;
        transform: rotate(-42deg);
    }
    .card_green {
        width: 6vw;
        top: 48%;
        right: 22%;
        transform: rotate(17deg);
    }
    .card_white {
        width: 7vw;
        top: 59%;
        right: 8%;
        transform: rotate(-30deg);
    }
    .card_red {
        width: 6vw;
        top: 77%;
        right: 19%;
        transform: rotate(10deg);
    }

    // Bottom Wave
    .wave_bg {
        position: fixed;
        bottom: 0;
        z-index: 3;
        width: 100vw;
        height: 140px;
        background-image: url('../img/bottom_wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// By Width
@media screen and (max-width: 1536px) {
    .pc_background {
        .wave_bg {
            height: 85px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .pc_background {
        .lc_fave_text_img {
            left: 3%;
            width: 25%;
        }
    }
}
@media screen and (max-width: 1024px) {
    .pc_background {
        .lc_fave_text_img {
            display: none;
        }
        .card_pink {
            width: 9vw;
            top: 10%;
            left: 6%;
            transform: rotate(-30deg);
        }
        .card_purple {
            width: 9vw;
            top: 33%;
            left: 9%;
            transform: rotate(-15deg);
        }
        .card_black {
            width: 9vw;
            top: 58%;
            left: 3%;
            transform: rotate(15deg);
        }
        .card_yellow {
            width: 9vw;
            top: 80.5%;
            left: 10%;
            transform: rotate(-15deg);
        }
        .card_orange {
            width: 9vw;
            top: 10%;
            right: 12%;
            transform: rotate(34deg);
        }
        .card_blue {
            width: 9vw;
            top: 30%;
            right: 10%;
            transform: rotate(-42deg);
        }
        .card_green {
            width: 9vw;
            top: 50%;
            right: 16%;
            transform: rotate(17deg);
        }
        .card_white {
            width: 9vw;
            top: 65%;
            right: 9%;
            transform: rotate(-30deg);
        }
        .card_red {
            width: 9vw;
            top: 80%;
            right: 15%;
            transform: rotate(10deg);
        }
    }
}
@media screen and (max-width: 600px) {
    .pc_background {
        .wave_bg {
            background-image: url('../img/wave_sp.webp');
            height: 110px;
            width: 100%;
        }
    }
}

// SP Area
.sp_area {
    position: relative;
    top: 75px;
    margin: 0 auto;
    width: 425px;
    height: auto;
    background-color: $purple;

    .head_text_section {
        background-color: $deep_blue;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        
        p {
            font-size: 12px;
            font-family: $font_noto_sans;
            font-weight: 500;
            color: $white;
            text-align: center;
            line-height: 1.5;
            padding: 8px 0 10px;
        }
    }
    
    .section_1 {
        position: relative;
        z-index: 1;
        
        // Background Layer 1
        .main_bg {
            position: relative;
            z-index: 1;
            width: 100%;
            background-image: url('../img/sp_bg_layer3.webp');
            background-repeat: no-repeat;
            background-size: cover;
            height: 650px;
            background-position: center;
            // Background Layer 2
            &::after {
                content: '';
                background-image: url('../img/sp_bg_layer4.webp');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                z-index: 1;
                bottom: -270px;
                width: 100%;
                height: 555px;
            }
            .top_text {
                position: absolute;
                z-index: 2;
                width: fit-content;
                margin: 17px 16px 0;
                left: 0;
                right: 0;
                img {
                    max-width: 100%;
                }
            }
            .hand_card {
                margin: 0 auto;
                position: relative;
                width: 55%;
                z-index: 0;
                top: 14%;
                overflow: hidden;
                img {
                    max-width: 100%;
                    object-fit: cover;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                }
                .visible {
                    opacity: 1;
                }
                
            }
            .main_title {
                position: absolute;
                z-index: 5;
                bottom: 8%;
                margin: 0 auto;
                padding: 0 16px;
                img {
                    max-width: 100%;
                }
            }
            
        }
    }

    .section_2 {
        position: relative;
        top: 0px;
        width: 100%;
        z-index: 2;
        .section_background {
            position: relative;
            width: 100%; 
            height: fit-content;
            overflow: hidden;
            padding-bottom: 90px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to bottom, #E9FFFD, #DBEEF2, #FFCACB, #6953AE);
                z-index: 0;
                border-top-left-radius: 270px;
                border-top-right-radius: 270px;
                box-shadow: 0px 2px 0px #00009A inset; /* Adds a top border effect */
            }
            .section_content {
                position: relative;
                z-index: 2;
                .title_2 {
                    position: relative;
                    width: 70%;
                    margin: 13vh auto 0;
                    img {
                        max-width: 100%;
                    }
                }
                .title_desc {
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    margin-top: 24px;
                    line-height: 1.5;
                    margin-bottom: 50px;
                }
                .content_part1 {
                    position: relative;
                    .catch_img {
                        display: flex;
                        justify-content: right;
                        position: relative;
                        padding-left: 13px;
                        right: -3px;
                        img {
                            max-width: 100%;
                        }
                    }
                    .bubble_text {
                        position: absolute;
                        top: 21%;
                        left: 21%;
                        width: 100%;
                        height: 100px;
                        background-image: url('../img/text_bubble_1.webp');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        .text {
                            position: absolute;
                            left: 37%;
                            top: 21%;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.5;
                        }
                    }
                    &::after {
                        content: '';
                        background-image: url('../img/accent_4.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 90px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: 62%;
                        right: 51%;
                    }
                    &::before {
                        content: '';
                        background-image: url('../img/accent_1.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 55px;
                        display: block;
                        z-index: 1;
                        position: absolute;
                        top: -24%;
                        left: 37%;
                    }
                }
                .content_part2 {
                    position: relative;
                    margin-top: 70px;
                    .catch_img {
                        display: flex;
                        justify-content: right;
                        padding-right: 10px;
                        position: relative;
                        img {
                            max-width: 93%;
                        }
                    }
                    .bubble_text {
                        position: absolute;
                        top: 21%;
                        right: 30%;
                        width: 100%;
                        height: 100px;
                        background-image: url('../img/text_bubble_2.webp');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        .text {
                            position: absolute;
                            left: 37%;
                            top: 33%;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.5;
                        }
                    }
                    &::after {
                        content: '';
                        background-image: url('../img/accent_3.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 30px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: -23%;
                        left: 44%;
                    }
                    &::before {
                        content: '';
                        background-image: url('../img/accent_2.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 90px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: -14%;
                        left: 39%;
                    }
                }
                .content_part3 {
                    position: relative;
                    margin-top: 70px;
                    .catch_img {
                        display: flex;
                        justify-content: left;
                        padding-right: 12px;
                        position: relative;
                        left: -4px;
                        img {
                            max-width: 100%;
                        }
                    }
                    .bubble_text {
                        position: absolute;
                        top: 39%;
                        left: 29%;
                        width: 100%;
                        height: 114px;
                        background-image: url('../img/text_bubble_1.webp');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        .text {
                            position: absolute;
                            left: 38%;
                            top: 24%;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.5;
                        }
                    }
                    &::after {
                        content: '';
                        background-image: url('../img/accent_3.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 30px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: -23%;
                        left: 44%;
                    }
                }
                .content_part4 {
                    margin-top: 50px;
                    position: relative;
                    .star_box_1 {
                        position: absolute;
                        z-index: 2;
                        right: 0;
                        width: 60%;
                        img {
                            max-width: 100%;
                        }
                    }
                    .text_box_wrap {
                        z-index: 1;
                        padding-top: 85px;
                        position: relative;
                        .text_box_img {
                            position: relative;
                            width: 100%;
                            margin: 0 auto;
                            padding: 0 16px;
                            box-sizing: border-box;
                            img {
                                max-width: 100%;
                            }
                            // Box Left Accent
                            &::before {
                                content: "";
                                background-image: url(../img/accent_4.webp);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                                width: 117px;
                                height: 73px;
                                position: absolute;
                                z-index: 1;
                                display: block;
                                left: -7%;
                                top: -14%;
                            }
                            // Box Right Accent
                            &::after {
                                content: "";
                                background-image: url(../img/accent_1.webp);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                                width: 117px;
                                height: 73px;
                                position: absolute;
                                z-index: 1;
                                display: block;
                                right: -3%;
                                bottom: -14%;
                            }
                            .text_desc {
                                position: absolute;
                                width: 78%;
                                top: 50%;
                                left: 46%;
                                transform: translate(-50%, -50%);
                                .desc_title {
                                    font-size: 20px;
                                    font-weight: 600;
                                    margin-bottom: 20px;
                                    color: $dark_blue;
                                }
                                .desc_text {
                                    position: relative;
                                    left: 19px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $dark_blue;
                                    line-height: 1.5;
                                }
                            }
                            .star_accent_1 {
                                position: absolute;
                                left: 0%;
                                bottom: -60px;
                                width: 70px;
                                img {
                                    max-width: 100%;
                                }
                            }
                            .star_accent_2 {
                                position: absolute;
                                right: 26%;
                                bottom: -34%;
                                width: 20px;
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        .star_box_2 {
            position: relative;
            z-index: 2;
            right: 0;
            top: -20px;
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }

    .section_3 {
        position: relative;
        top: -35px;
        overflow: hidden;
        // Accent Parts
        &::before {
            content: '';
            background-image: url('../img/accent_4.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 110px;
            height: 68px;
            position: absolute;
            z-index: 2;
            bottom: 60px;
            right: -14px;
        }
        // Main Dot Background
        .bg_pattern {
            background-image: url('../img/dots_bg.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: fit-content;
            padding-bottom: 170px;
            // Gradient On top of it
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),
                rgba(171, 216, 245, 0.75));
                z-index: 0;
            }
            &::before {
                content: '';
                position: absolute;
                z-index: 3;
                bottom: 120px;
                left: 40px;
                background-image: url('../img/accent_5.webp');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 52px;
                height: 49px;
                transform: scaleX(-1);
            }

            .section_content {
                position: relative;
                top: 0;
                padding: 135px 16px 0;
                z-index: 2;
                .title {
                    margin-left: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: $font_noto_sans;
                    color: $dark_blue;
                }
                .fave_img {
                    margin-top: 10px;
                    width: 55%;
                    img {
                        max-width: 100%;
                    }
                }
                .fave_subtitle_img {
                    width: 79%;
                    margin-top: 15px;
                    img {
                        max-width: 100%;
                    }
                }
                .card_desc {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5;
                    margin-top: 15px;
                    color: $dark_blue;
                }
                .card_selection_space {
                    margin-top: 50px;
                    .card_img_select {
                        width: 100%;
                        img {
                            max-width: 100%;
                            opacity: 1;
                            transition: 0.5s;
                        }
                        .fade_in {
                            opacity: 1;
                        }
                        .fade_out {
                            opacity: 0;
                        }
                    }
                    
                    
                    .color_button_wrap {
                        margin-top: 25px;
                        display: flex;
                        justify-content: center;
                        ul {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            width: 76%;
                            .color_button {
                                width: 44px;
                                height: 44px;
                                border-radius: 100%;
                                background-color: transparent;
                                border: 2px solid #D1D1D1;
                                position: relative;
                                z-index: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0 12px 8px 0;
                                transition: .3s;
                                cursor: pointer;
                                .inner_button {
                                    width: 36px;
                                    height: 36px;
                                    border-radius: 100%;
                                    position: absolute;
                                    z-index: 1;
                                }
                                .blue {
                                    background-color: $card_blue;
                                }
                                .purple {
                                    background-color: $card_purple;
                                }
                                .pink {
                                    background-color: $card_pink;
                                }
                                .red {
                                    background-color: $card_red;
                                }
                                .yellow {
                                    background-color: $card_yellow;
                                }
                                .orange {
                                    background-color: $card_orange;
                                }
                                .green {
                                    background-color: $card_green;
                                }
                                .black {
                                    background-color: $card_black;
                                }
                                .white {
                                    background-color: $card_white;
                                }
                                &:nth-child(5) {
                                    margin-right: 0;
                                }
                                &:hover {
                                    border: 2px solid #AAAAAA;
                                }
                            }
                            .clicked {
                                border: 2px solid #FF7F9D;
                            }
                        }
                    }
                }
            }
        }
    }

    .section_4 {
        overflow: hidden;
        position: relative;
        top: -100px;
        &::before {
            content: '';
            background-image: url('../img/accent_1.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 110px;
            height: 68px;
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: -14px;
        }
        .main_bg_wrap {
            overflow: hidden;
            width: 101%;
            position: relative;
            border-top: 2px solid $dark_blue;
            border-right: 2px solid #3E3E6A;
            border-top-right-radius: 100px;
            background-color: white;
        }
        .main_bg {
            width: 100%;
            height: fit-content;
            background-image: 
                linear-gradient(to bottom, rgba(247, 254, 255, .25), rgba(219, 242, 255, .6)), /* Gradient layer */
                url('../img/dots_bg_2.webp');
            background-size: 120%;
            background-position: center;
            border-top-right-radius: 100px;
            .content_wrap {
                position: relative;
                padding: 45px 16px 55px;
                box-sizing: border-box;
                .content_title {
                    width: 80%;
                    img {
                        max-width: 100%;
                    }
                }

                .content_1 {
                    margin-top: 40px;
                    .content_img {
                        img {
                            max-width: 100%;
                        }
                    }
                    .content_desc {
                        margin-top: 20px;
                        color: $dark_blue;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
                .content_2 {
                    margin-top: 60px;
                    .content_img {
                        img {
                            max-width: 100%;
                        }
                    }
                    .content_desc {
                        margin-top: 20px;
                        color: $dark_blue;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
                .content_3 {
                    margin-top: 60px;
                    .box_wrap {
                        background-color: $white;
                        border-radius: 8px;
                        border: 1px solid rgba(80, 151, 201, 0.4);
                        padding: 24px;
                        .content_desc {
                            ul {
                                li {
                                    font-size: 12px;
                                    margin-bottom: 10px;
                                    line-height: 1.5;
                                    color: #1E1E4E;
                                    padding-left: 15px;
                                    &:before {
                                        content: '※';
                                        margin-left: -15px;
                                    }
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section_5 {
        position: relative;
        top: -100px;
        background-image: 
                linear-gradient(to bottom, rgba(255, 255, 255, 1 ), rgba(255, 235, 240, 1));
        .content_wrap {
            padding: 100px 16px;
            .content_title {
                margin-bottom: 28px;
                font-size: 30px;
                font-weight: 700;
                color: #1E1E4E;
            }
            .content_subtitle {
                margin-bottom: 16px;
                font-size: 20px;
                font-weight: 700;
                color: #1E1E4E;
            }
            .content_desc {
                font-size: 14px;
                line-height: 1.5;
                color: #1E1E4E;
            }
            .desc_with_dot {
                margin-top: 10px;
                li {
                    font-size: 14px;
                    line-height: 1.5;
                    color: #1E1E4E;
                    padding-left: 16px;
                    &::before {
                        content: '・';
                        margin-left: -16px;
                    }
                }
            }
            .desc_with_kome {
                margin: 10px 0 32px;
                li {
                    font-size: 12px;
                    line-height: 1.5;
                    color: #1E1E4E;
                    padding-left: 16px;
                    &::before {
                        content: '※';
                        margin-left: -16px;
                    }
                }
            }

            .caution_box_wrap {
                border: 2px solid $card_purple;
                border-radius: 16px;
                margin: 32px 0 100px;
                .box_title {
                    height: 61px;
                    background-color: $card_purple;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        font-family: $font_noto_sans;
                        font-weight: 600;
                        color: $white;
                        font-size: 18px;
                    }
                }
                .box_content {
                    background-color: $white;
                    padding: 24px 24px 32px 24px;
                    border-bottom-right-radius: 14px;
                    border-bottom-left-radius: 14px;
                    ul {
                        .caution_text {
                            font-size: 14px;
                            line-height: 1.5;
                            margin-bottom: 16px;
                            position: relative;
                            padding-left: 3px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &::before {
                                content: '';
                                position: absolute;
                                top: 8px;
                                left: -6px;
                                display: block;
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                background-color: $pink;
                            }
                        }
                    }
                }
            }

            .faq_wrap {
                .faq_title {
                    font-size: 28px;
                    font-family: $font_noto_sans;
                    font-weight: 600;
                    margin-bottom: 32px;
                }
                .faq_box {
                    border: 2px solid $pink;
                    border-radius: 34px;
                    margin-bottom: 16px;
                    .question_box {
                        cursor: pointer;
                        position: relative;
                        background-color: $pink;
                        border-top-left-radius: 30px;
                        border-top-right-radius: 30px;
                        padding: 22px 50px 22px 45px;
                        transition: .3s;
                        p {
                            font-size: 14px;
                            font-family: $font_noto_sans;
                            font-weight: 600;
                            color: $white;
                            line-height: 1.5;
                        }
                        &::before {
                            position: absolute;
                            top: 23px;
                            left: 16px;
                            content: 'Q';
                            font-size: 18px;
                            font-weight: 600;
                            color: $white;
                        }
                        .mark {
                            position: absolute;
                            right: 16px;
                            top: 32px;
                            .line_1 {
                                position: absolute;
                                width: 14px;
                                height: 2px;
                                background-color: $white;
                            }
                            .line_2 {
                                width: 14px;
                                height: 2px;
                                background-color: $white;
                                transform: rotate(90deg);
                                transition: .3s;
                            }
                            .open {
                                transform: rotate(0deg);
                            }
                        }
                    }
                    .closed_box {
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                    }
                    
                    .answer_box {
                        position: relative;
                        height: fit-content;
                        background-color: $white;
                        border-bottom-left-radius: 32px;
                        border-bottom-right-radius: 32px;
                        p {
                            font-size: 14px;
                            font-family: $font_noto_sans;
                            font-weight: 400;
                            color: $dark_blue;
                            padding: 22px 50px 22px 45px;
                            line-height: 1.5;
                        }
                        &::before {
                            position: absolute;
                            top: 23px;
                            left: 16px;
                            content: 'A';
                            font-size: 18px;
                            font-weight: 600;
                            color: $pink_2;
                        }
                    }
                }
                .faq_button {
                    width: 70%;
                    height: 50px;
                    border: 2px solid $pink_2;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $white;
                    text-decoration: none;
                    margin: 32px auto 0;
                    transition: .3s;
                    p {
                        font-size: 14px;
                        font-weight: 800;
                        font-family: $font_noto_sans;
                        color: $pink_2;
                        text-decoration: none;
                    }
                    &:hover {
                        background-color: $pink_2;
                        p {
                            color: $white;
                        }
                    }
                }

                .card_info_box {
                    margin-top: 32px;
                    .question_box {
                        cursor: pointer;
                        position: relative;
                        background-color: $pink;
                        border-radius: 34px;
                        padding: 22px 50px 22px 45px;
                        transition: .3s;
                        display: flex;
                        justify-content: center;
                        p {
                            font-size: 14px;
                            font-family: $font_noto_sans;
                            font-weight: 600;
                            color: $white;
                            line-height: 1.5;
                        }
                        .mark {
                            position: absolute;
                            right: 16px;
                            top: 32px;
                            .line_1 {
                                position: absolute;
                                width: 14px;
                                height: 2px;
                                background-color: $white;
                            }
                            .line_2 {
                                width: 14px;
                                height: 2px;
                                background-color: $white;
                                transform: rotate(90deg);
                                transition: .3s;
                            }
                            .open {
                                transform: rotate(0deg);
                            }
                        }
                    }

                    .card_info_table {
                        margin-top: 16px;
                        .row {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            .info_1 {
                                width: 30%;
                                background-color: $pink;
                                border: 1px solid #E6C1C7;
                                border-bottom: none;
                                border-right: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 20px 16px;
                                .title_text {
                                    font-family: $font_noto_sans;
                                    font-weight: 600;
                                    font-size: 14px;
                                    color: $white;
                                    text-align: center;
                                    line-height: 1.5;
                                }
                            }
                            .info_2 {
                                width: 70%;
                                background-color: $white;
                                border: 1px solid #E6C1C7;
                                border-bottom: none;
                                padding: 20px 16px;
                                .img_wrap {
                                    display: flex;
                                    flex-direction: row;
                                    .info_img {
                                        width: 70px;
                                        height: 23px;
                                        img {
                                            max-width: 100%;
                                            max-height: 100%;
                                            object-fit: contain;
                                        }
                                    }
                                }
                                .plain_text {
                                    font-size: 14px;
                                    line-height: 1.5;
                                    color: $dark_blue;
                                }
                                .small_text {
                                    margin-top: 5px;
                                    font-size: 12px;
                                    line-height: 1.25;
                                    color: $dark_blue;
                                }
                                ul {
                                    li {
                                        line-height: 1.5;
                                        color: $dark_blue;
                                        margin-bottom: 5px;
                                    }
                                    .text_dot {
                                        font-size: 14px;
                                        position: relative;
                                        padding-left: 8px;
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            top: 8px;
                                            left: 0px;
                                            display: block;
                                            width: 4px;
                                            height: 4px;
                                            border-radius: 100%;
                                            background-color: #FF7F9D;
                                        }
                                        a {
                                            color: $dark_blue;
                                            font-weight: 600;
                                            text-decoration: underline;
                                        }
                                    }
                                    .text_kome {
                                        font-size: 12px;
                                        line-height: 1.5;
                                        position: relative;
                                        padding-left: 10px;
                                        margin-top: 5px;
                                        &::before {
                                            content: '※';
                                            position: absolute;
                                            top: 0px;
                                            left: -4px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                            &:first-child {
                                .info_1 {
                                    border-top-left-radius: 20px;
                                }
                                .info_2 {
                                    border-top-right-radius: 20px;
                                }
                            }
                            &:last-child {
                                .info_1 {
                                    border-bottom: 1px solid #E6C1C7;
                                    border-bottom-left-radius: 20px;
                                }
                                .info_2 {
                                    border-bottom: 1px solid #E6C1C7;
                                    border-bottom-right-radius: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .banner_wrap {
                display: block;
                width: 100%;
                background-color: $white;
                margin-top: 20px;
                .banner_img {
                    display: block;
                    width: 100%;
                    transition: .3s;
                    img {
                        max-width: 100%;
                    }
                    &:hover {
                        opacity: .65;
                    }
                }
                
            }
        }
    }

    .btn_area {
        position: fixed;
        z-index: 10;
        top: auto;
        left: 50%;
        bottom: -1%;
        transform: translate(-50%, -25%);
        transition: .3s;
        .bottom_btn {
            display: block;
            width: 350px;
            img {
                max-width: 100%;
            }
        }
        &:hover {
            opacity: 0.75;
        }
    }

    footer {
        position: relative;
        bottom: 50px;
        padding: 0 16px 80px;
        p {
            color: $white;
            font-family: $font_noto_sans;
            font-weight: 400;
        }
        .company_name {
            font-size: 24px;
            margin-bottom: 16px;
        }
        .copyright {
            font-size: 14px;
            margin-bottom: 30px;
        }
        .logo {
            width: 23%;
            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1536px) {
    .sp_area {
        top: 50px;
        .section_1 {
            .main_bg {
                .main_title {
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .sp_area {
        top: 50px;
        width: 100%;
        min-width: 100%;
        .section_1 {
            .main_bg {
                height: 69dvh;
                .main_title {
                    bottom: 5dvh;
                }
                .hand_card {
                    width: 55%;
                    top: 10%;
                }
                &::after {
                    background-image: url('../img/sp_bg_layer5.webp');
                    height: 65dvh;
                    bottom: -250px;
                }
            }
        }

        .section_3 {
            .bg_pattern {
                .section_content {
                    .card_selection_space {
                        .color_button_wrap {
                            ul {
                                width: 83%;
                            }
                        }
                    }
                }
            }
        }
    }   
}

@media screen and (max-width: 375px) {
    .sp_area {
        .section_1 {
            .main_bg {
                height: 80vh;
                .main_title {
                    bottom: 8dvh;
                }
                &::after {
                    bottom: -170px;
                }
            }
        }
        .btn_area {
            bottom: -2%;
        }

        .section_3 {
            .bg_pattern {
                .section_content {
                    .card_selection_space {
                        .color_button_wrap {
                            ul {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
