// Colors
$white: #ffff;
$pink: #FF7F9D;
$dark_blue: #3E3E6A;
// Fonts
$font_noto_sans: "Noto Sans JP";


// Navigation
nav {
    position: absolute;
    z-index: 3;
    background-color: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    height: 75px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 25px;
    overflow-x: hidden;
    box-sizing: border-box;
    .logo {
        width: 100px;
        display: block;
        img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
        height: 50px;
        .logo {
            width: 62px;
        }
    }
}



// PC Background
.pc_background {
    position: relative;
    // Background Img
    .bg_img {
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-image: url('../img/background.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    // LIFECARD Fave Img
    .lc_fave_text_img {
        position: fixed;
        z-index: 3;
        top: 40%;
        left: 5%;
        width: 23vw;
        img {
            max-width: 100%;
        }
    }

    // Card Img
    .card_img {
        position: fixed;
        img {
            max-width: 100%;
        }
    }
    .card_pink {
        width: 5.75vw;
        top: 10%;
        left: 8%;
        transform: rotate(-30deg);
    }
    .card_purple {
        width: 5.5vw;
        top: 24%;
        left: 23%;
        transform: rotate(-15deg);
    }
    .card_black {
        width: 5.75vw;
        top: 67%;
        left: 2%;
        transform: rotate(15deg);
    }
    .card_yellow {
        width: 7vw;
        top: 80.5%;
        left: 16%;
        transform: rotate(-15deg);
    }
    .card_orange {
        width: 6vw;
        top: 10%;
        right: 16%;
        transform: rotate(34deg);
    }
    .card_blue {
        width: 6vw;
        top: 30%;
        right: 8%;
        transform: rotate(-42deg);
    }
    .card_green {
        width: 6vw;
        top: 48%;
        right: 22%;
        transform: rotate(17deg);
    }
    .card_white {
        width: 7vw;
        top: 59%;
        right: 8%;
        transform: rotate(-30deg);
    }
    .card_red {
        width: 6vw;
        top: 77%;
        right: 19%;
        transform: rotate(10deg);
    }

    // Bottom Wave
    .wave_bg {
        position: fixed;
        bottom: 0;
        z-index: 3;
        width: 100vw;
        height: 140px;
        background-image: url('../img/bottom_wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn_area {
        position: fixed;
        z-index: 10;
        bottom: 25px;
        display: flex;
        width: 100%;
        justify-content: center;
        .bottom_btn {
            width: 400px;
            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .pc_background {
        .lc_fave_text_img {
            left: 1%;
            width: 21vw;
        }
    }
}
@media screen and (max-width: 1024px) {
    .pc_background {
        .lc_fave_text_img {
            display: none;
        }
        .card_pink {
            width: 9vw;
            top: 10%;
            left: 6%;
            transform: rotate(-30deg);
        }
        .card_purple {
            width: 9vw;
            top: 33%;
            left: 9%;
            transform: rotate(-15deg);
        }
        .card_black {
            width: 9vw;
            top: 58%;
            left: 3%;
            transform: rotate(15deg);
        }
        .card_yellow {
            width: 9vw;
            top: 80.5%;
            left: 10%;
            transform: rotate(-15deg);
        }
        .card_orange {
            width: 9vw;
            top: 10%;
            right: 12%;
            transform: rotate(34deg);
        }
        .card_blue {
            width: 9vw;
            top: 30%;
            right: 10%;
            transform: rotate(-42deg);
        }
        .card_green {
            width: 9vw;
            top: 50%;
            right: 16%;
            transform: rotate(17deg);
        }
        .card_white {
            width: 9vw;
            top: 65%;
            right: 9%;
            transform: rotate(-30deg);
        }
        .card_red {
            width: 9vw;
            top: 80%;
            right: 15%;
            transform: rotate(10deg);
        }
    }
}
@media screen and (max-width: 600px) {
    .pc_background {
        display: none;
    }
}

// SP Area
.sp_area {
    position: relative;
    top: 75px;
    margin: 0 auto;
    width: 22vw;
    max-width: 560px;
    min-width: 500px;
    height: auto;
    background-color: #F2F2F2;
    .section_1 {
        position: relative;
        z-index: 1;
        .main_bg {
            position: relative;
            z-index: 1;
            width: 100%;
            background-image: url('../img/sp_bg.webp');
            background-repeat: no-repeat;
            background-size: cover;
            height: 104vh;
            background-position: center;
            .top_text {
                position: absolute;
                z-index: 2;
                width: fit-content;
                margin: 17px 16px 0;
                left: 0;
                right: 0;
                img {
                    max-width: 100%;
                }
            }
            .hand_card {
                margin: 0 auto;
                position: relative;
                top: 8vh;
                overflow: hidden;
                img {
                    max-width: 100%;
                    object-fit: cover;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                }
                .visible {
                    opacity: 1;
                }
                
            }
            .main_title {
                position: absolute;
                top: 55vh;
                margin: 0 auto;
                padding: 0 16px;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .section_2 {
        position: relative;
        top: 100px;
        width: 100%;
        top: -20vh;
        z-index: 2;
        .section_background {
            position: relative;
            width: 100%;
            height: 2000px;
            height: fit-content;
            overflow: hidden;
            padding-bottom: 63px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to bottom, #E9FFFD, #DBEEF2, #FFCACB, #6953AE);
                z-index: 0;
                border-top-left-radius: 270px;
                border-top-right-radius: 270px;
                box-shadow: 0px 2px 0px #00009A inset; /* Adds a top border effect */
            }
            .section_content {
                position: relative;
                z-index: 2;
                .title_2 {
                    position: relative;
                    margin-top: 10vh;
                    width: 70%;
                    margin: 13vh auto 0;
                    img {
                        max-width: 100%;
                    }
                }
                .title_desc {
                    display: flex;
                    justify-content: center;
                    font-size: 19px;
                    margin-top: 24px;
                    line-height: 1.5;
                    margin-bottom: 50px;
                }
                .content_part1 {
                    position: relative;
                    .catch_img {
                        display: flex;
                        justify-content: right;
                        position: relative;
                        padding-left: 13px;
                        right: -3px;
                        img {
                            max-width: 100%;
                        }
                    }
                    .bubble_text {
                        position: absolute;
                        top: 21%;
                        left: 21%;
                        width: 100%;
                        height: 100px;
                        background-image: url('../img/text_bubble_1.webp');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        .text {
                            position: absolute;
                            left: 40%;
                            top: 21%;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.5;
                        }
                    }
                    &::before {
                        content: '';
                        background-image: url('../img/accent_1.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 55px;
                        display: block;
                        z-index: 1;
                        position: absolute;
                        top: -24%;
                        left: 37%;
                    }
                }
                .content_part2 {
                    position: relative;
                    margin-top: 70px;
                    .catch_img {
                        display: flex;
                        justify-content: right;
                        padding-right: 10px;
                        position: relative;
                        img {
                            max-width: 93%;
                        }
                    }
                    .bubble_text {
                        position: absolute;
                        top: 21%;
                        right: 30%;
                        width: 100%;
                        height: 100px;
                        background-image: url('../img/text_bubble_2.webp');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        .text {
                            position: absolute;
                            left: 40%;
                            top: 33%;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.5;
                        }
                    }
                    &::after {
                        content: '';
                        background-image: url('../img/accent_3.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 30px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: -23%;
                        left: 44%;
                    }
                    &::before {
                        content: '';
                        background-image: url('../img/accent_2.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 90px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: -14%;
                        left: 39%;
                    }
                }
                .content_part3 {
                    position: relative;
                    margin-top: 70px;
                    .catch_img {
                        display: flex;
                        justify-content: left;
                        padding-right: 12px;
                        position: relative;
                        left: -4px;
                        img {
                            max-width: 100%;
                        }
                    }
                    .bubble_text {
                        position: absolute;
                        top: 47%;
                        left: 29%;
                        width: 100%;
                        height: 114px;
                        background-image: url('../img/text_bubble_1.webp');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        .text {
                            position: absolute;
                            left: 42%;
                            top: 25%;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.5;
                        }
                    }
                    &::after {
                        content: '';
                        background-image: url('../img/accent_3.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 30px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: -23%;
                        left: 44%;
                    }
                    &::before {
                        content: '';
                        background-image: url('../img/accent_2.webp');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;
                        height: 90px;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        top: -14%;
                        left: 39%;
                    }
                }
                .content_part4 {
                    margin-top: 50px;
                    position: relative;
                    .star_box_1 {
                        position: absolute;
                        z-index: 2;
                        right: 0;
                        width: 80%;
                        img {
                            max-width: 100%;
                        }
                    }
                    .text_box_wrap {
                        z-index: 1;
                        padding-top: 105px;
                        .text_box_img {
                            position: relative;
                            width: 100%;
                            margin: 0 auto;
                            padding: 0 16px;
                            box-sizing: border-box;
                            img {
                                max-width: 100%;
                            }
                            .text_desc {
                                position: absolute;
                                width: 77%;
                                top: 50%;
                                left: 46%;
                                transform: translate(-50%, -50%);
                                .desc_title {
                                    font-size: 30px;
                                    font-weight: 600;
                                    margin-bottom: 20px;
                                    color: $dark_blue;
                                }
                                .desc_text {
                                    position: relative;
                                    left: 19px;
                                    font-size: 18px;
                                    font-weight: 400;
                                    color: $dark_blue;
                                    line-height: 1.5;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        .star_box_2 {
            position: relative;
            z-index: 2;
            right: 0;
            top: -20px;
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .sp_area {
        top: 50px;
        width: 100%;
        min-width: 100%;
    }   
}
