nav {
  position: absolute;
  z-index: 3;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 25px;
  overflow-x: hidden;
  box-sizing: border-box;
}
nav .logo {
  width: 100px;
  display: block;
}
nav .logo img {
  max-width: 100%;
}

@media screen and (max-width: 1536px) {
  nav {
    height: 50px;
  }
  nav .logo {
    width: 62px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    height: 50px;
  }
  nav .logo {
    width: 62px;
  }
}
.pc_background {
  position: relative;
}
.pc_background .bg_img {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pc_background .lc_fave_text_img {
  position: fixed;
  z-index: 3;
  top: 40%;
  left: 5%;
  width: 23vw;
}
.pc_background .lc_fave_text_img img {
  max-width: 100%;
}
.pc_background .card_img {
  position: fixed;
}
.pc_background .card_img img {
  max-width: 100%;
}
.pc_background .card_pink {
  width: 5.75vw;
  top: 10%;
  left: 8%;
  transform: rotate(-30deg);
}
.pc_background .card_purple {
  width: 5.5vw;
  top: 24%;
  left: 23%;
  transform: rotate(-15deg);
}
.pc_background .card_black {
  width: 5.75vw;
  top: 67%;
  left: 2%;
  transform: rotate(15deg);
}
.pc_background .card_yellow {
  width: 7vw;
  top: 80.5%;
  left: 16%;
  transform: rotate(-15deg);
}
.pc_background .card_orange {
  width: 6vw;
  top: 10%;
  right: 16%;
  transform: rotate(34deg);
}
.pc_background .card_blue {
  width: 6vw;
  top: 30%;
  right: 8%;
  transform: rotate(-42deg);
}
.pc_background .card_green {
  width: 6vw;
  top: 48%;
  right: 22%;
  transform: rotate(17deg);
}
.pc_background .card_white {
  width: 7vw;
  top: 59%;
  right: 8%;
  transform: rotate(-30deg);
}
.pc_background .card_red {
  width: 6vw;
  top: 77%;
  right: 19%;
  transform: rotate(10deg);
}
.pc_background .wave_bg {
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  height: 140px;
  background-image: url("../img/bottom_wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1536px) {
  .pc_background .wave_bg {
    height: 85px;
  }
}
@media screen and (max-width: 1300px) {
  .pc_background .lc_fave_text_img {
    left: 1%;
    width: 21vw;
  }
}
@media screen and (max-width: 1024px) {
  .pc_background .lc_fave_text_img {
    display: none;
  }
  .pc_background .card_pink {
    width: 9vw;
    top: 10%;
    left: 6%;
    transform: rotate(-30deg);
  }
  .pc_background .card_purple {
    width: 9vw;
    top: 33%;
    left: 9%;
    transform: rotate(-15deg);
  }
  .pc_background .card_black {
    width: 9vw;
    top: 58%;
    left: 3%;
    transform: rotate(15deg);
  }
  .pc_background .card_yellow {
    width: 9vw;
    top: 80.5%;
    left: 10%;
    transform: rotate(-15deg);
  }
  .pc_background .card_orange {
    width: 9vw;
    top: 10%;
    right: 12%;
    transform: rotate(34deg);
  }
  .pc_background .card_blue {
    width: 9vw;
    top: 30%;
    right: 10%;
    transform: rotate(-42deg);
  }
  .pc_background .card_green {
    width: 9vw;
    top: 50%;
    right: 16%;
    transform: rotate(17deg);
  }
  .pc_background .card_white {
    width: 9vw;
    top: 65%;
    right: 9%;
    transform: rotate(-30deg);
  }
  .pc_background .card_red {
    width: 9vw;
    top: 80%;
    right: 15%;
    transform: rotate(10deg);
  }
}
@media screen and (max-width: 600px) {
  .pc_background {
    display: none;
  }
}
.sp_area {
  position: relative;
  top: 75px;
  margin: 0 auto;
  width: 425px;
  height: auto;
  background-color: #FFDED9;
}
.sp_area .section_1 {
  position: relative;
  z-index: 1;
}
.sp_area .section_1 .main_bg {
  position: relative;
  z-index: 1;
  width: 100%;
  background-image: url("../img/sp_bg_layer1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 878px;
  background-position: center;
}
.sp_area .section_1 .main_bg::after {
  content: "";
  background-image: url("../img/sp_bg_layer2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 429px;
}
.sp_area .section_1 .main_bg .top_text {
  position: absolute;
  z-index: 2;
  width: fit-content;
  margin: 17px 16px 0;
  left: 0;
  right: 0;
}
.sp_area .section_1 .main_bg .top_text img {
  max-width: 100%;
}
.sp_area .section_1 .main_bg .hand_card {
  margin: 0 auto;
  position: relative;
  width: 65%;
  z-index: 0;
  top: 10%;
  overflow: hidden;
}
.sp_area .section_1 .main_bg .hand_card img {
  max-width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.sp_area .section_1 .main_bg .hand_card .visible {
  opacity: 1;
}
.sp_area .section_1 .main_bg .main_title {
  position: absolute;
  z-index: 5;
  bottom: 20%;
  margin: 0 auto;
  padding: 0 16px;
}
.sp_area .section_1 .main_bg .main_title img {
  max-width: 100%;
}
.sp_area .section_2 {
  position: relative;
  top: -100px;
  width: 100%;
  z-index: 2;
}
.sp_area .section_2 .section_background {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 90px;
}
.sp_area .section_2 .section_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #E9FFFD, #DBEEF2, #FFCACB, #6953AE);
  z-index: 0;
  border-top-left-radius: 270px;
  border-top-right-radius: 270px;
  box-shadow: 0px 2px 0px #00009A inset; /* Adds a top border effect */
}
.sp_area .section_2 .section_background .section_content {
  position: relative;
  z-index: 2;
}
.sp_area .section_2 .section_background .section_content .title_2 {
  position: relative;
  width: 70%;
  margin: 13vh auto 0;
}
.sp_area .section_2 .section_background .section_content .title_2 img {
  max-width: 100%;
}
.sp_area .section_2 .section_background .section_content .title_desc {
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-top: 24px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.sp_area .section_2 .section_background .section_content .content_part1 {
  position: relative;
}
.sp_area .section_2 .section_background .section_content .content_part1 .catch_img {
  display: flex;
  justify-content: right;
  position: relative;
  padding-left: 13px;
  right: -3px;
}
.sp_area .section_2 .section_background .section_content .content_part1 .catch_img img {
  max-width: 100%;
}
.sp_area .section_2 .section_background .section_content .content_part1 .bubble_text {
  position: absolute;
  top: 21%;
  left: 21%;
  width: 100%;
  height: 100px;
  background-image: url("../img/text_bubble_1.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sp_area .section_2 .section_background .section_content .content_part1 .bubble_text .text {
  position: absolute;
  left: 37%;
  top: 21%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.sp_area .section_2 .section_background .section_content .content_part1::after {
  content: "";
  background-image: url("../img/accent_4.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 90px;
  display: block;
  z-index: 0;
  position: absolute;
  top: 62%;
  right: 51%;
}
.sp_area .section_2 .section_background .section_content .content_part1::before {
  content: "";
  background-image: url("../img/accent_1.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 55px;
  display: block;
  z-index: 1;
  position: absolute;
  top: -24%;
  left: 37%;
}
.sp_area .section_2 .section_background .section_content .content_part2 {
  position: relative;
  margin-top: 70px;
}
.sp_area .section_2 .section_background .section_content .content_part2 .catch_img {
  display: flex;
  justify-content: right;
  padding-right: 10px;
  position: relative;
}
.sp_area .section_2 .section_background .section_content .content_part2 .catch_img img {
  max-width: 93%;
}
.sp_area .section_2 .section_background .section_content .content_part2 .bubble_text {
  position: absolute;
  top: 21%;
  right: 30%;
  width: 100%;
  height: 100px;
  background-image: url("../img/text_bubble_2.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sp_area .section_2 .section_background .section_content .content_part2 .bubble_text .text {
  position: absolute;
  left: 37%;
  top: 33%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.sp_area .section_2 .section_background .section_content .content_part2::after {
  content: "";
  background-image: url("../img/accent_3.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 30px;
  display: block;
  z-index: 0;
  position: absolute;
  top: -23%;
  left: 44%;
}
.sp_area .section_2 .section_background .section_content .content_part2::before {
  content: "";
  background-image: url("../img/accent_2.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 90px;
  display: block;
  z-index: 0;
  position: absolute;
  top: -14%;
  left: 39%;
}
.sp_area .section_2 .section_background .section_content .content_part3 {
  position: relative;
  margin-top: 70px;
}
.sp_area .section_2 .section_background .section_content .content_part3 .catch_img {
  display: flex;
  justify-content: left;
  padding-right: 12px;
  position: relative;
  left: -4px;
}
.sp_area .section_2 .section_background .section_content .content_part3 .catch_img img {
  max-width: 100%;
}
.sp_area .section_2 .section_background .section_content .content_part3 .bubble_text {
  position: absolute;
  top: 47%;
  left: 29%;
  width: 100%;
  height: 114px;
  background-image: url("../img/text_bubble_1.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sp_area .section_2 .section_background .section_content .content_part3 .bubble_text .text {
  position: absolute;
  left: 38%;
  top: 24%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.sp_area .section_2 .section_background .section_content .content_part3::after {
  content: "";
  background-image: url("../img/accent_3.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 30px;
  display: block;
  z-index: 0;
  position: absolute;
  top: -23%;
  left: 44%;
}
.sp_area .section_2 .section_background .section_content .content_part4 {
  margin-top: 50px;
  position: relative;
}
.sp_area .section_2 .section_background .section_content .content_part4 .star_box_1 {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 60%;
}
.sp_area .section_2 .section_background .section_content .content_part4 .star_box_1 img {
  max-width: 100%;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap {
  z-index: 1;
  padding-top: 85px;
  position: relative;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img img {
  max-width: 100%;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img::before {
  content: "";
  background-image: url(../img/accent_4.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 117px;
  height: 73px;
  position: absolute;
  z-index: 1;
  display: block;
  left: -7%;
  top: -14%;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img::after {
  content: "";
  background-image: url(../img/accent_1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 117px;
  height: 73px;
  position: absolute;
  z-index: 1;
  display: block;
  right: -3%;
  bottom: -14%;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img .text_desc {
  position: absolute;
  width: 78%;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img .text_desc .desc_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3E3E6A;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img .text_desc .desc_text {
  position: relative;
  left: 19px;
  font-size: 14px;
  font-weight: 400;
  color: #3E3E6A;
  line-height: 1.5;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img .star_accent_1 {
  position: absolute;
  left: 0%;
  bottom: -60px;
  width: 70px;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img .star_accent_1 img {
  max-width: 100%;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img .star_accent_2 {
  position: absolute;
  right: 26%;
  bottom: -34%;
  width: 20px;
}
.sp_area .section_2 .section_background .section_content .content_part4 .text_box_wrap .text_box_img .star_accent_2 img {
  max-width: 100%;
}
.sp_area .section_2 .star_box_2 {
  position: relative;
  z-index: 2;
  right: 0;
  top: -20px;
  width: 100%;
}
.sp_area .section_2 .star_box_2 img {
  max-width: 100%;
}
.sp_area .section_3 {
  position: relative;
  top: -195px;
}
.sp_area .section_3 .bg_pattern {
  background-image: url("../img/dots_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 950px;
}
.sp_area .section_3 .bg_pattern::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(171, 216, 245, 0.75));
  z-index: 0;
}
.sp_area .section_3 .bg_pattern .section_content {
  position: relative;
  top: 0;
  padding: 85px 16px 0;
  z-index: 2;
}
.sp_area .section_3 .bg_pattern .section_content .title {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans JP";
  color: #3E3E6A;
}
.sp_area .section_3 .bg_pattern .section_content .fave_img {
  margin-top: 10px;
  width: 55%;
}
.sp_area .section_3 .bg_pattern .section_content .fave_img img {
  max-width: 100%;
}
.sp_area .section_3 .bg_pattern .section_content .fave_subtitle_img {
  width: 79%;
  margin-top: 15px;
}
.sp_area .section_3 .bg_pattern .section_content .fave_subtitle_img img {
  max-width: 100%;
}
.sp_area .section_3 .bg_pattern .section_content .card_desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 15px;
  color: #3E3E6A;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space {
  margin-top: 50px;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .card_img_select {
  width: 100%;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .card_img_select img {
  max-width: 100%;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #D1D1D1;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px 8px 0;
  transition: 0.3s;
  cursor: pointer;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .inner_button {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .blue {
  background-color: #5DA1C6;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .purple {
  background-color: #8179A5;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .pink {
  background-color: #CC92A2;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .red {
  background-color: #CE6B6B;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .yellow {
  background-color: #DADC2B;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .orange {
  background-color: #D87430;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .green {
  background-color: #4F8F66;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .black {
  background-color: #605850;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button .white {
  background-color: #F3F3F3;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button:nth-child(5) {
  margin-right: 0;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .color_button:hover {
  border: 2px solid #AAAAAA;
}
.sp_area .section_3 .bg_pattern .section_content .card_selection_space .color_button_wrap ul .clicked {
  border: 2px solid #FF7F9D;
}
.sp_area .btn_area {
  position: fixed;
  z-index: 10;
  top: auto;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -25%);
}
.sp_area .btn_area .bottom_btn {
  display: block;
  width: 350px;
}
.sp_area .btn_area .bottom_btn img {
  max-width: 100%;
}

@media screen and (max-width: 1536px) {
  .sp_area {
    top: 50px;
  }
  .sp_area .section_1 .main_bg {
    height: 828px;
  }
  .sp_area .section_1 .main_bg .main_title {
    bottom: 28%;
  }
}
@media screen and (max-width: 600px) {
  .sp_area {
    top: 50px;
    width: 100%;
    min-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */